
nav{
    width: 100%;
    height: 300px;
    background:url(bg-desktop-light.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    color: white;
}
nav h1{
    margin: 80px;
}
.todos-list{
    position:absolute;
    display: flex;
    flex-direction: column;
    top:19%;
    justify-content: space-between;
    place-items: center;
    gap: 20px;
    padding: 30px 30px;
    
}
.content{
    display: flex;
    justify-content: center;
    
}
#text-id{
    width: 600px;
    padding: 15px 20px;
   
    font-size:larger;
}
textarea{
    outline-color: white;
    height: 60px;
}
#add-btn{
    background: darkturquoise;
    height: 60px;
    padding: 5px 18px;
    font-size: larger;
    color:white;
    transition: ease-in-out 0.3s;
    border: none;
}
#add-btn:hover{
    background: rgb(82, 224, 226);
    transition: ease-in-out 0.3s;
}
#text-con{
    border-radius: 10px;
    box-shadow: 5px 10px 15px rgba(0, 0, 0, 0.338);
    width: fit-content  ;
    display: flex;
    justify-content: center;
    place-items: center;
    overflow: hidden;
    background: white;
}
.todos{
    font-family:Candara Light;
    /* Ink Free */
    display: flex;
    flex-direction: column;
    gap:30px;   
}
.todos-list{
    background: rgba(0, 0, 0, 0.244);
    border-radius: 10px;
}
#save-btn{
    background: dodgerblue;
    height: 60px;
    padding: 5px 18px;
    font-size: larger;
    color:white;
    border: none;
    transition: ease-in-out 0.3s;
}
#save-btn:hover{
    background:rgb(80, 164, 248);
    transition: ease-in-out 0.3s;
}
.displayClass{
    display: none;
}